h1 {
  border-style: groove;
  border-width: inherit;
  text-align: center;
  padding: 10px;
  background-color: navajowhite;
  color: snow;
  border-color: snow;
  margin-top: 50px;
  margin-bottom: 50px;
}
ul {
  color: grey;
}
