h1 {
  border-style: groove;
  border-width: inherit;
  text-align: center;
  padding: 60px;
  background-color: navajowhite;
  color: snow;
  border-color: snow;
  margin-top: 200px;
  margin-bottom: 25px;
}

body{
  font-family: Georgia, "Times New Roman",
          Times, serif;
  padding-left: 20em;
  color: cadetblue;
  background-color: antiquewhite;
}

p{
  color:burlywood;
}

ul {
  color: grey;
}

ul.navbar {
  position: fixed;
  top: 13em;
  left: 6em;
  width: 12em;
}

ul.navbar li {
  font-family: Georgia, "Times New Roman",
          Times, serif;
  background: white;
  margin: 0.3em 0;
  padding: 1em;
  border-right: 0.3em solid grey }
ul.navbar a {
  text-decoration: none}
a:link {
  color: grey }
a:visited {
  color: antiquewhite }

#special_address{
  padding-left: 50em;
  padding-top: 0em;
  color: gray;
}
